{% extends "layout.html" %}
{% block body %}

<p>Welcome to the Blender Animation tutorial.</p>

<p>Your other screen should look like this:</p>
<img src="../static/ffscreenshot.png">

<ol class="steps">

<li>Fix the values of <em>Right</em>, <em>Left</em>, and <em>Squish</em> to 0.000.
<iframe width="640" height="480" src="//www.youtube.com/embed/iADIs66nSSs?rel=0" frameborder="0" allowfullscreen></iframe>
</li>

<li>Move the green bar to frame 15. Change the value of <em>Right</em> to 1.000.
<iframe width="640" height="480" src="//www.youtube.com/embed/BPeu8kfSAhg?rel=0" frameborder="0" allowfullscreen></iframe>
</li>

<li>Move the green bar to frame 30. Change the value of <em>Right</em> to 0.000 and fix the value <em>Left</em> to 0.000.
<iframe width="640" height="480" src="//www.youtube.com/embed/0KrBYky6-dY?rel=0" frameborder="0" allowfullscreen></iframe>
</li>

<li>Use the right arrow key to move the green bar forward to frame 45. </li>

<li>Change the value of Left to 1.000.</li>

<li>Move the green bar to frame 60.</li>

<li>Change the value of Left to 0.000 and fix the value of Squish at 0.000.</li>

<li>Move the green bar to frame 75.</li>

<li>Change the value of Squish to 1.000.</li>

<li>Move the green bar to frame 90.</li>

<li>Change the value of Squish to 0.000.</li>
</ol>

<p>Your first animation is now complete! Press Alt-A to watch a preview of the animation. Press ESC to stop the preview.</p>

<p>This is only the beginning! In time, you'll learn to animate many different attributes of a shape, animate complex shapes, and render your animations to make polished 3D animated movies.</p>

<p>First though, you'll have to go back to the very beginning and learn the basics of 3D animation in Blender.</p>

{% endblock %}