<h1>Questionaire - Full</h1>

<h4>Flow</h4>
<h5>Time Distortion</h5>
<p>Estimate time elapsed so far:</p>
<h5>Focus</h5>
<ul><li>My attention was focused entirely on what I was doing</li>
<li>It was no effort to keep my mind on what was happening</li>
<li>I had total concentration</li>
<li>I was completely focused on the task at hand</li>
</ul>
<h5>Challenge and Perceived ability to meet that challenge</h5>
<ul>
<li>I found the activity challenging.</li><li>There were times during the activity in which I just wanted to give up.</li><li>I felt motivated using the software.</li>
<li>I found the activity easy.</li>
<li>I felt like I was making progress towards the end of the activity.</li>
<li>I think I performed well in the activity.</li>
</ul>

<h4>PENS (Player Experience of Need Satisfaction)</h4><h5>Competence</h5>
<ul><li>I feel competent at the activity.</li>
<li>I feel very capable and effective when engaged in the activity.</li>
<li>My ability is well matched with the activity's challenges.</li>
</ul>
<h5>Autonomy</h5><ul><li>The activity provides me with interesting options and choices.</li>
<li>The activity lets you do interesting things.</li>
<li>I experienced a lot of freedom in the activity.</li>
</ul>

<h4>Modified NASA TLX</h4>
<ul><li>Mental demand <select><option value="1">High</option><option value=\"3\">Low</option></select></li>
<li>Performance <select><option value=\"1\">Good</option><option value=\"3\">Poor</option></select></li>
<li>Effort <select><option value=\"1\">High</option><option value=\"3\">Low</option></select></li>
<li>Frustration <select><option value=\"1\">High</option><option value=\"3\">Low</option></select></li></ul>

<h4>Enjoyment</h4>
<ul><li>I enjoyed doing this activity very much</li>
<li>This activity was fun to do.</li>
<li>I thought this was a boring activity. (R)</li>
<li>This activity did not hold my attention at all. (R)</li>
<li>I would describe this activity as very interesting.</li>
<li>I thought this activity was quite enjoyable.</li>
<li>While I was doing this activity, I was thinking about how much I enjoyed it.</li></ul>